
.heading1 {
    color: rgb(94, 91, 91);
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

p{
    text-indent: 1em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
li {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
.scroll { 
    margin:4px, 4px; 
    padding:15px; 
    width: 500px; 
    height: 650px; 
    overflow-x: hidden; 
    overflow-x: auto; 
    text-align:left; 
    
}
.icon1{
    float:right;
    margin-top:-30px;
    margin-left:50px;
    height:200px;
    width:200px;
}
.icon2{
    float:right;
    margin-top:-10px;
    margin-left:60px;
    height:200px;
    width:200px;
}
.icon3{
    float:right;
    margin-top:-30px;
    margin-left:60px;
    height:200px;
    width:200px;
}
.icon4{
    float:right;
    margin-top:-10px;
    margin-left:60px;
    height:200px;
    width:200px;
}
.icon5{
    float:right;
    margin-top:-10px;
    margin-left:60px;
    height:200px;
    width:200px;
}
.projects ul li a{
   color:purple;
   cursor: hand;

}
.panel > .panel-heading {
    background-image: none;
    background-color: rgb(247, 220, 220);
    color: white;
}
.border {
    border: 1px peru solid;
}