.heading {
    color: rgb(94, 91, 91);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 60px;
}

.heading1 {
    color: rgb(94, 91, 91);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}